<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
    <test name="Nopackage">
        <parameter name="hub" value="http://192.168.0.8:4444/wd/hub"/>
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="GridTest"/>
        </classes>
    </test>

</suite>
